body {
    background-color: #000000; /* Light gray background */
    font-family: Arial, sans-serif; /* Font style for the page */
    color: white; /* Text color for the page */
    margin: 20px 10px 20px 10px;
}

h1 {
    font-size: 40px; /* Font size for main headings */
    text-align: center;
}

h3 {
    font-size: 32px; 
    font-style: italic; /* Italic style for subheadings */
}

h6 {
    font-size: 24px; 
    color: rgb(24, 151, 92); /* Color for minor headings */
}

p {
    font-size: 16px;
}

p.cap {
    text-transform: capitalize; /* Capitalize the first letter of each 
                                word in paragraphs with class 'cap' */
}

ul.menuh {
    display: flex; /* Use flexbox layout for horizontal menu */
    flex-direction: row; /* Arrange menu items in a row */
    width: auto;
    padding: 0;
    margin: 0;
    background-color: black;
    list-style: none;
}

ul.menuh li {
    padding: 16px 16px;
    border-right: 1px solid #bbb;
    text-align: center;
}

ul.menuh li:last-child {
    border-right: none; /* Remove right border from the last menu item */
}

ul.menuh li a {
    text-decoration: none;
    color: white;
    display: block;
}

ul.menuh li a:hover {
    background-color: green;
}


.textcolor { /* textcolor class */
    color: rgb(255, 208, 0);
}

#youtubediv{ /* Youtube div ID */
    background-color: rgb(0, 42, 79);
    padding-top: 20px; /* Extra padding at the top of the Youtube div */
    padding-bottom: 20px; /* Extra padding at the bottom of the Youtube div */
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    border: 1px solid azure; /* Table border style */
    text-align: center; /* Center align table content */
    border-spacing: 0px; /* No spacing between table cells */
    border-color: azure; /* Table border color */
    width: 800px;
    height: 400px;
}

td, th {
    border: 1px solid white; /* Cell border style */
}

td, th {
    padding: 5px; /* Padding inside table cells */
}

p a{
    text-decoration: none;
    color:rgb(255, 154, 66);
}

p a:hover {
    color: rgb(67, 236, 252);
    text-decoration: underline;
}